version: "3.8"

services:
  web: &web
    image: eld:1.0.0
    build:
      context: .
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/backend
    ports:
      - "8001:8000"
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: postgres
    ports:
      - "5433:5432"
    volumes:
      - ./backend:/backend
    env_file:
      - .env
